@model IEnumerable<Flight>
    

@{
    ViewData["Title"] = "Flight List";
}

<div class = "container p-3">
    <div class = "row pt-4">
        <div class = "col-6">
            <h1 style="color:darkcyan">Flight List</h1>
        </div>
        <div class = "col-6 text-end ">
            <a asp-controller="Flight" asp-action="AddFlight" type="button" class="btn btn-lg" style="background-color:rgba(5, 30, 75, 1)">
                <font color="darkcyan"><i class="bi bi-plus-circle"></i> Add Flight</font>
            </a>
        </div>
    </div>
</div>

<div class = "container p-3">
    <table class = "table table-primary table-striped" style="width:100%">
        <thead class="table-info">
            <tr>
                <th>
                    FlightId
                </th>
                <th>
                    Origin
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Price
                </th>
                <th>
                    Airline
                </th>
                <th>
                    Seats
                </th>
                <th width="100px" ></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        @obj.FlightId
                    </td>
                    <td>
                        @obj.Origin
                    </td>
                    <td>
                        @obj.Destination
                    </td>
                    <td>
                        @obj.Price
                    </td>
                    <td>
                        @obj.Airline
                    </td>
                    <td>
                        <div class="btn-sm" role="group">
                            <a  asp-controller="Flight" asp-action="EditFlight" asp-route-flightid="@obj.FlightId" type="button" class="btn btn-dark btn-sm">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-sm" role="group">
                            <a  asp-controller="Flight" asp-action="DeleteFlight" asp-route-flightid="@obj.FlightId" type="button" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
               
                </tr>
            }
        </tbody>
    </table>
</div>