@model Booking

<div class="container p-3">
    <div class="card text-white bg-primary mb-3" style="max-width: auto;">
        <div class="card-header">Booking Details</div>
        <div class="card-body">
            <ul class="list-group p-3">
                <li class="list-group-item">
                    <p><b>Your Seats Are: </b> @Model.BookedSeats</p>
                </li>
                <li class="list-group-item">
                    <p><b>Flight Number: </b> @Model.FlightId</p>
                </li>
                <li class="list-group-item">
                    <p><b>Total Price: </b> @ViewBag.Price</p>
                </li>
                <li class="list-group-item">
                    <p><b>Payment Method: </b>Card ending with @Model.CardNumber.Substring(Model.CardNumber.Length - 4)</p>
                </li>
                <li class="list-group-item">
                    <p><b>Flight Date: </b>@Model.FlightDate.ToShortDateString()</p>
                </li>
                <li class="list-group-item">
                    <p><b>Flight Time: </b>@Model.FlightDate.ToShortTimeString()</p>
                </li>
                <li class="list-group-item">
                    <p><b>Booking Date: </b>Your booking was made on @Model.BookingDate.ToShortDateString() at @Model.BookingDate.ToShortTimeString()</p>
                </li>
                <li class="list-group-item">
                    <a asp-controller="User" asp-action="MyBookings" class="btn btn-secondary btn-sm" style="width:160px;">
                        <font size="4" color="white">Go Back</font>
                    </a>
                    <a asp-controller="User" asp-action="MyBookings" class="btn btn-primary btn-sm" style="width:160px;">
                        <font size="4" color="white">Book More Seats</font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>