@model IEnumerable<Booking>

@if (ViewData["New"] != null)
{
    @if (ViewData["New"].ToString() == "New")
    {
        ViewData["New"] = "Old";
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">Your booking was succesfull!</h4>
            <p class="mb-0"> Your payment and your new booking have been added</p>
        </div>
    }
}
<div class="container p-3">
    <div class="card text-white bg-primary mb-3" style="max-width: auto;">
        <div class="card-body">
    <table class="table table-primary table-striped" style="width:100%">
        <thead class="table-info">
            <tr>
                <th>
                    Booking ID
                </th>
                <th>
                    Origin
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Two Way
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @if(Model!=null)
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.BookingID
                    </td>
                    <td>
                        @obj.Origin
                    </td>
                    <td>
                        @obj.Destination
                    </td>
                    <td>
                        @obj.TwoWay
                    </td>
                    <td>
                        @if (obj.FlightDate < DateTime.Today) {
                            <div class="btn-sm" role="group">
                                <fieldset disabled="">
                                    <a asp-controller="User" asp-action="MyBookingsEdit" asp-route-flightid="@obj.BookingID" type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                </fieldset>
                            </div>
                        } else {
                            <div class="btn-sm" role="group">
                                <a asp-controller="User" asp-action="EditBooking" asp-route-BookingID="@obj.BookingID" type="button" class="btn btn-primary btn-sm">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            </div>
                        }
                    </td>
                    <td>
                        <div class="btn-sm" role="group">
                            <a asp-controller="User" asp-action="BookingDetails" asp-route-BookingID="@obj.BookingID" type="button" class="btn btn-secondary btn-sm">
                               <font color="white"> <i class="bi bi-archive"></i> Details</font>
                            </a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
            <ul class="list-group p-3 text-center">
                <a asp-controller="Home" asp-action="Index" style="width:auto; color:rgba(255, 255, 255, 1)">
                    <font size="8"><i class="bi bi-plus-circle"></i> </font>
                </a>
            </ul>
        </div>
    </div>
</div>