@model IEnumerable<Flight>

<form class="m-5">
    <div class="m-5 p-2">
        <div class="text-center">
            <div class="card text-white bg-primary mb-3" style="max-width: auto;">
                <div class="card-header"><font size="5"><b>Available Flights</b></font></div>
                 <div class="card-body text-black">
                    @foreach(var obj in Model){
                        <div class="card border-primary mb-4" style="max-width: auto;" id="@obj.FlightId"> 
                        <div class="card-header" align="left"><font size ="5">
                            <b>@obj.Origin To @obj.Destination - Flight Number @obj.FlightId</b> </font> 
                        </div>
                        <div class="card-body">
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                               <div class="accordion-body" align="left">
                                  <ul class="list-group">
                                   <li class="list-group-item">
                                     <font size="4"><b>Price Per Ticket: </b> @obj.Price<b>₪</b></font>
                                   </li>
                                   <li class="list-group-item">
                                    <font size="4"><p><b>Take Off Date: </b> @obj.TakeOffDate.Day/@obj.TakeOffDate.Month/@obj.TakeOffDate.Year</p></font>
                                   </li>
                                   <li class="list-group-item">
                                    <font size="4"><p><b>Take Off Time: </b> @obj.TakeOffDate.ToShortTimeString()</p></font>
                                   </li>
                                   <li class="list-group-item">
                                     <font size="4"><p><b>Landing Date: </b> @obj.LandingDate.Day/@obj.LandingDate.Month/@obj.LandingDate.Year</p></font>
                                   </li>
                                   <li class="list-group-item">
                                     <font size="4"><p><b>Landing Time: </b> @obj.LandingDate.ToShortTimeString()</p></font>
                                   </li>
                                   <li class="list-group-item">
                                     <font size="4"><p><b>Two Way Available: </b> @obj.TwoWay.ToString()</p></font>
                                    </li>
                                   @if(obj.TakeOffDate < DateTime.Today){
                                    <li class="list-group-item">
                                        <div class="btn-sm" role="group">
                                            <a asp-controller="Flight" asp-action="BookSeat" asp-route-flightid="@obj.FlightId"
                                                class="btn btn-secondary btn-sm disabled" style="width:160px;">
                                              <font size="4" color="white">Flight Departed</font>
                                            </a>
                                        </div>
                                    </li>
                                   } else {
                                        <li class="list-group-item">
                                            <div class="btn-sm" role="group">
                                                <a asp-controller="Flight" asp-action="BookSeat" asp-route-flightid="@obj.FlightId"
                                                    class="btn btn-primary btn-sm" style="width:160px;">
                                                  <font size="4" color="white">Book A Seat</font>
                                                </a>
                                            </div>
                                        </li>    
                                   }
                                  </ul>
                               </div>
                            </div>
                        </div>
                     </div>
                   }
                </div>
            </div>
        </div>
    </div>
</form>
